.row{
    top: 64px;
    position: absolute;
    width: 100%;
  }
  .jumbotron{
    background-color: rgba(84, 86, 64, 0.9);;
    padding-left: 2%;
    padding-right: 2%;
    /* color: #fff */
    /* min-width: 50%;
    max-width: 80%; */
  }
  .table{color: #fff}

  .popover-title{
    color:#000 !important;
    font-weight: bold;
    border-radius: 2%;
 }