/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

@font-face {
  font-family: fgot;
  src: url('/assets/game_of_thrones_font/Game\ of\ Thrones.ttf') format("opentype");
}

html, body { height: 100%; background: #000; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-image: url('./assets/throne.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 35% 90%;background-position: center center; background-blend-mode: screen; 
  
  /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 35%, rgba(204,204,204,1) 100%); */
  
}
.center-screen{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.space-around {
    display: flex;
    justify-content: space-around;
  }
  
  .space-between {
    display: flex;
    justify-content: space-between;
  }

  h5, h1{
    font-family: 'fgot';
  }
