
.top-bar {
    background: #333a42;
    color: #e2e9e7;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
} 
.titlepage{
    font-family: 'fgot';
}